{% extends 'ajax_blog/base.html' %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">

        </div>
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="#">用户注册</a></li>
        </ol>

        <div class="panel panel-primary" id="reg-info">
            <div class="panel-heading">用户注册</div>
            <div class="panel-body">
                <form>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">用户</span>
                            <input type="text" class="form-control" name="username" aria-describedby="basic-addon3">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span id="err_username" class="form-error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">密码</span>
                            <input type="password" class="form-control" name="password" aria-describedby="basic-addon3">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span id="err_password" class="form-error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">email</span>
                            <input type="text" class="form-control" name="email" aria-describedby="basic-addon3">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span id="err_email" class="form-error"></span>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <button type="button" id="reg-btn" class="btn btn-primary">注册</button>
                </form>

            </div>
        </div>

        <div style="display: none;" id="success-info">


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">注册成功</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-offset-4 col-md-4">
                        <span style="font-size: 50px; color: lightseagreen;">&nbsp;&nbsp;&nbsp;注册成功</span>
                    </div>
                    <div class="col-md-offset-5 col-md-2">
                        <button type="button" class="btn btn-primary"
                                onclick="javascript:window.location.href='/member/log_in/'">前往登入界面
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block script %}
    <script>

        $(function () {
            $("#reg-btn").click(function () {

                $.ajax({
                    type: "POST",
                    url: "/member/reg/",
                    data: $(".form-control").serializeArray(),
                    dataType: "json",
                    success: function (data, textStatus) {
                        console.log(data);
                        if (data.statu == 1) {
                            $("#reg-info").css('display', 'none');
                            $("#success-info").css('display', 'inherit');
                        } else {
                            var kid = data.msg;
                            console.log(kid);
                            $('span[id*="err_"]').html('');
                            $.each(kid, function (index, content) {
                                console.log(index, content);
                                $('#err_' + index).html(content[0]);
                            });
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}